[workspace]
members = ["jack-voice", "jack-voice-bridge", "supertonic"]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.1.0"

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"
strip = true
